*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.white{
    color: white;
}
.dropdown{
    display: none;
}
.title{
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
h1{
    color: white;
}
@media screen and (min-width: 992px) {
    .title{
        background-color: red;
    }
    h1{color: black;}
    .sec1{
        background-color: yellow;
        display: flex;
        padding-top: 1%;
        flex-flow: column;
        padding-left: 5%;
        text-align: left;
        padding-bottom: 29%;
        padding-right: 5%;
    }
    .sec2{
        background-color: orange;
        display: flex;
        padding-top: 1%;
        flex-flow: column;
        padding-left: 5%;
        text-align: left;
        padding-bottom: 29%;
        padding-right: 5%;
    }
    .sec3{
        background-color: green;
        display: flex;
        padding-top: 1%;
        flex-flow: column;
        padding-left: 5%;
        text-align: left;
        padding-bottom: 29%;
        padding-right: 5%;
    }
    
}
@media screen and (max-width: 576px)  {
    h1{
        color: white;
    }
    p{
        color: white;
    }
    h2{
        color: white;
    }

    .title{
        background-color: blue;
    }
    .dropdown{
        display: flex;
        justify-content: right;
        background-color: white;
        padding: 3vw ;
        margin-left: 75%;
        display: block;
        
    }
    .sec1{
        background-color: turquoise;
        
        display: flex;
        padding-top: 13%;
        flex-flow: column;
        padding-left: 5%;
        text-align: center;
        padding-bottom: 17%;
        padding-right: 5%;
    }
    .sec2{
        background-color: magenta;
        
        display: flex;
        padding-top: 13%;
        flex-flow: column;
        padding-left: 5%;
        text-align: center;
        padding-bottom: 17%;
        padding-right: 5%;
    }
    .sec3{
        background-color: darkblue;
        
        display: flex;
        padding-top: 13%;
        flex-flow: column;
        padding-left: 5%;
        text-align: center;
        padding-bottom: 17%;
        padding-right: 5%;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px)  {
    .title{
        background-color: lightcoral;
    }
    h1{
        color: white;
    }
    p{
        color: white;
    }
    h2{
        color: white;
    }
    .sec1{
        background-color: red;
        
        display: flex;
        padding-top: 2vh;
        flex-flow: column;
        padding-left: 5vw;
        text-align: left;
        padding-bottom: 28vh;
        padding-right: 5vw;
    }
    .sec2{
        background-color: blue;
        
        display: flex;
        padding-top: 2vh;
        flex-flow: column;
        padding-left: 5vw;
        text-align: left;
        padding-bottom: 28vh;
        
        padding-right: 5vw;
    }
    .sec3{
        background-color: darkblue;
        
        display: flex;
        padding-top: 2vh;
        flex-flow: column;
        padding-left: 5vw;
        text-align: left;
        padding-bottom: 28vh;
        
        padding-right: 5vw;
    }
}