h1{
    font-size: 24px;
    color: blue;
    font-weight: bolder;
    font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p{
    color: #4d4d4d;

}
.first_par{
    font-weight: bold;
    color: rgb(235, 150, 150);
}
h1{
    color: #ff0000;
}

a{
    color: #8A2BE2;
    text-decoration: none;
}

header{
    font-size: 33px;
    background-image: url(img/gamer.jpg);
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100vw;
       
}
img{
    width: 45em;
}
article{
    border: 3px solid red;
    border-radius: 2rem;
    border-left: 1rem solid red;
}
