* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  min-height: 100vh;
  position: absolute;
  margin-top: 16em;
  padding-bottom: 10em;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  position: top;
  top: 0em;
}
footer{
    background: #00a8c7;
  padding: 3rem;
position: fixed;
text-align: center;
width: 100%;
padding-top: 2em;
bottom: 0em;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.hacker{
  background-image: url(./img/background.jpeg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.black{
  background-color: black;
}
.white{
  color: white;
}
h1{
  top: 0%;
  width: 100%;
  text-align: center;
  font-size: 500%;
}
.left{
  float: left;
  width: 50%;
  margin-top: 10em;
  padding-left: 8em;
}
.right{
  float: right;
  margin-top: 10em;
  width: 50%;
  padding-right: 8em;
  
  
}
.html-red{
  color: rgb(0, 136, 255);
}
.css-red{
  color: rgb(255, 85, 0);
}
.FirstPageText{
  font-size: 8em;
  margin-top: 3em;
}
.yellow{
  color: yellow;
}
.leftJava{
  float: right;
  width: 50em;
  height: 50em;
  margin-right:12em;
}
p{
  font-size: 200%;
  padding-left: 5em;
  padding-right: 5em;
}
h2{
  font-size: 400%;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.blue{
  color: lightblue;
}
.orange{
  color: orange;
}
form{
  float: center;
  text-align: left;
  font-size: 150%;
  margin-left: 800px;
    
}
input{
  padding-left: 6em;
  padding-right: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.send{
  padding: 6em;
  color: white;
  border-color: aqua;
  border-width: 4px;
  border-radius: 1em;
  background-color: rgb(39, 126, 185);
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 150%;
  font-weight: bold;
}
.bericht{
  padding-bottom: 8em;
}